@use './colors';
@use './typography';

:root {
  // General
  --glow-intensity: 0.22;

  // Radius
  --radius-sm:   8px;
  --radius-md:   14px;
  --radius-lg:   22px;
  --radius-xl:   32px;
  --radius-full: 999px;
}